p, h1, h2, input, textarea {

    color:#1A1A1A; 
}

.selfportrait, .portfolio, .nameandlogo, .contactme, {
    background-color: oldlace;
    position: relative;
    height: 10em;
}

header {
    background-color: oldlace;
    position: relative;
    size: 1em;
}

.aboutme, .pastwork, .footer {
    background-color: pink;
    position: relative;
    Height: 10em;   
}
.selfiephoto {
    float: left;
    width: 100px;
}

.floatlinks, .pastwork, .training {
    position: relative;


}
.work-history{
    position: absolute;
    width: 350px;

}
.work-history img{
    widows: 100%;
    height: auto;
}


.image-container {
    width:100px;
    
}
.image-container img {
    width:100%;
    height:auto;    
}